# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# SQLite DB
db.sqlite3

# Environment variables
.env

# Logs
*.log

# Media and static (optional)
media/
staticfiles/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
